body {
     margin:0;
      }
#imagem-fundo{
    background: url("fundo.jpg");
    display: table;
    width: 100%;
    height: 100vh;
    background-size: cover;
    text-align: center;
      }

#titulo{
    color: #992532;
    padding-top: 30%;
    padding-left: 30%;
    
    }
#subtitulo{
    color: #992532;
    padding-left: 50%;
    padding-right: 10%;
   }

#acao{
    color: black;
    border: 1px black solid;
    padding: 10px 10px 10px 10px;

}